<form novalidate [formGroup]="interfaceForm" (ngSubmit)="onSubmit()">

<div class="mat-dialog-title">
  <h1 class="row">
    <div class="col-2"></div>
    <div class="col-8">Informazioni Interfacce</div>
    <div class="col-2 close-dialog"><i class="fas fa-times-square" (click)="closeDialog()"></i></div></h1>
</div>

<mat-dialog-content class="mat-typography">
    <div class="width">
        <div class="row">
            <div class="info-base container col-sm">
                <div class="box">
                    <div class="row">
                        <h2 class="col-12 col-md-6 col-lg-4 box-title"><i class="fad fa-layer-group"></i> Informazioni del gruppo</h2>
                        <div class="col-12 col-md-6 col-lg-8 row">
                          <div class="card-label-title col-6 col-md-5 col-lg-4">TIPOLOGIA*</div>
                          <div class="card-label-value col-6 col-md-7 col-lg-8" *ngIf="IsEditMode()">{{data.interfaceGroup?.interfaces[0].typologyInterface}}</div>
                          <mat-form-field appearance="outline" class="full-width col-12 col-sm-12 col-md-7 col-lg-8" *ngIf="!IsEditMode()">
                            <mat-select formControlName="typologyInterface" placeholder="Tipologia" required [disabled]="IsEditMode()">
                              <mat-option>
                                <ngx-mat-select-search placeholderLabel="Cerca Tipologia..." i18n-placeholderLabel noEntriesFoundLabel="'Nessuna tipologia trovata'" i18n-noEntriesFoundLabel [formControl]="filterTypeEntity" [searching]="searching"></ngx-mat-select-search>
                              </mat-option>
                              <mat-option *ngFor="let x of filteredTypeEntity | async" [value]="x.id" (click)="getNChannel(x.id)">{{x.description}}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="IsNewMode()"><a (click)="addTypology()">Crea nuova</a></mat-hint>
                            <mat-error *ngIf="interfaceForm.controls['typologyInterface'].hasError('required')">Tipologia è <strong>obbligatoria</strong>.</mat-error>
                          </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 col-lg-4 row">
                            <div class="card-label-title col-6 col-sm-3">ID*</div>
                            <div class="card-label-value col-6 col-sm-9" *ngIf="IsEditMode()">{{data.interfaceGroup.id}}</div>
                            <mat-form-field appearance="outline" class="full-width col col-sm-9" *ngIf="!IsEditMode()">
                                <input matInput type="text" maxlength="10" formControlName="interfaceGroupId" placeholder="Nome" required>
                                <mat-error *ngIf="interfaceForm.controls['interfaceGroupId'].hasError('required')">ID è <strong>obbligatorio</strong>.</mat-error>
                                <mat-error *ngIf="interfaceForm.controls['interfaceGroupId'].hasError('maxlength')">Massimo <strong>10</strong> caratteri.</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-12 col-md-8 col-lg-8 row">
                          <div class="card-label-title col-sm-4">DESCRIZIONE*</div>
                          <mat-form-field appearance="outline" class="full-width col-sm-8">
                              <input matInput type="text" maxlength="100" formControlName="interfaceGroupDescription" placeholder="Descizione" required>
                              <mat-error *ngIf="interfaceForm.controls['interfaceGroupDescription'].hasError('required')">Descrizione è <strong>obbligatorio</strong>.</mat-error>
                              <mat-error *ngIf="interfaceForm.controls['interfaceGroupDescription'].hasError('maxlength')">Massimo <strong>100</strong> caratteri.</mat-error>
                          </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="data.showForm">
            <div class="info-base container col-sm">
                <div class="box">
                  <h2 class="col-12 col-md-12 col-lg-4 box-title"><i class="fad fa-stream"></i> Informazioni interfaccia</h2>
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 no-padding row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-8 row">
                        <div class="card-label-title col-sm-3">DESCRIZIONE*</div>
                        <mat-form-field appearance="outline" class="full-width col-sm-9">
                            <input matInput type="text" maxlength="80" formControlName="interfaceDescription" placeholder="Descizione" required>
                            <mat-error *ngIf="interfaceForm.controls['interfaceDescription'].hasError('required')">Descrizione è <strong>obbligatorio</strong>.</mat-error>
                            <mat-error *ngIf="interfaceForm.controls['interfaceDescription'].hasError('maxlength')">Massimo <strong>80</strong> caratteri.</mat-error>
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-4 no-padding row">
                        <div class="card-label-title col-12 col-sm-12 col-md-6 col-lg-5">ID DISPOSITIVO</div>
                        <mat-form-field appearance="outline" class="full-width col-12 col-sm-12 col-md-6 col-lg-7">
                          <input matInput type="number" formControlName="deviceId" maxlength="10" placeholder="0">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-8 no-padding row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 no-padding row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 row">
                          <div class="card-label-title col-12 col-sm-12 col-md-6 col-lg-4">IP</div>
                          <mat-form-field appearance="outline" class="full-width col-12 col-sm-12 col-md-6 col-lg-8">
                            <input matInput type="ipaddress" formControlName="terminalIp" maxlength="30" placeholder="0.0.0.0" mask="IP" [dropSpecialCharacters]="false">
                            <mat-error *ngIf="interfaceForm.controls['terminalIp'].hasError('required')">IP Terminale è <strong>obbligatorio</strong>.</mat-error>
                            <mat-error *ngIf="interfaceForm.controls['terminalIp'].hasError('maxlength')">Massimo <strong>15</strong> caratteri.</mat-error>
                            <mat-error *ngIf="interfaceForm.controls['terminalIp'].hasError('pattern')">Formato <strong>Errato</strong>.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 row">
                          <div class="card-label-title col-12 col-sm-12 col-md-6 col-lg-4">PORT</div>
                          <mat-form-field appearance="outline" class="full-width col-12 col-sm-12 col-md-6 col-lg-8">
                            <input matInput type="text" maxlength="10" formControlName="terminalPort" placeholder="5000" mask="00000">
                            <mat-error *ngIf="interfaceForm.controls['terminalPort'].hasError('required')">Porta Terminale è <strong>obbligatorio</strong>.</mat-error>
                            <mat-error *ngIf="interfaceForm.controls['terminalPort'].hasError('maxlength')">Massimo <strong>10</strong> caratteri.</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 no-padding row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 row">
                          <div class="card-label-title col-12 col-sm-12 col-md-6 col-lg-4">ROUTER</div>
                          <mat-form-field appearance="outline" class="full-width col-12 col-sm-12 col-md-6 col-lg-8">
                            <input matInput type="text" formControlName="router" maxlength="10" placeholder="Router">
                            <mat-error *ngIf="interfaceForm.controls['router'].hasError('maxlength')">Massimo <strong>16</strong> caratteri.</mat-error>
                          </mat-form-field>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 row">
                          <div class="card-label-title col-12 col-sm-12 col-md-6 col-lg-6">COORDINATOR</div>
                          <mat-form-field appearance="outline" class="full-width col-12 col-sm-12 col-md-6 col-lg-6">
                            <input matInput type="text" formControlName="coordinator" maxlength="1" placeholder="Coordinator">
                            <mat-error *ngIf="interfaceForm.controls['coordinator'].hasError('maxlength')">Massimo <strong>1</strong> carattere.</mat-error>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-4 no-padding row">
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 info row">
                        <div class="card-label-title col-12 col-sm-12 col-md-6 col-lg-5">CANALI INPUT</div>
                        <mat-form-field appearance="outline" class="full-width col-12 col-sm-12 col-md-6 col-lg-7">
                          <input matInput type="number" formControlName="inputChannelNumber" maxlength="10" placeholder="">
                        </mat-form-field>
                      </div>
                      <div class="col-12 col-sm-12 col-md-12 col-lg-12 info row">
                        <div class="card-label-title col-12 col-sm-12 col-md-6 col-lg-5">CANALI OUTPUT</div>
                        <mat-form-field appearance="outline" class="full-width col-12 col-sm-12 col-md-6 col-lg-7">
                          <input matInput type="number" formControlName="outputChannelNumber" maxlength="10" placeholder="">
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button  color="primary" type="submit"
          [disabled]="buttonDisabled()" [ngClass]="buttonDisabled() ? 'btn-disabled' : ''">
    {{ IsNewMode()?'Aggiungi':'Salva' }}
  </button>
</mat-dialog-actions>
</form>
