<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      throwExceptions="true"
	  autoReload="true"
      internalLogLevel="Warn" internalLogFile="c:\temp\ts400.GCC-internal.log" >
	<!--File che il log crea quando trova un errore di configurazione-->

	<variable name="LogDir" value="C:\ProgramData\Tesar S.p.A\Log" />
	<variable name="LogDay" value="${date:format=yyyy-MM-dd}" />
	<variable name="LogFileName" value="i4conn.GatewayCloudConfigurationCore" />

	<targets>

		<target xsi:type="File" name="ownFile"
				fileName="${LogDir}/${LogFileName}_${machinename}.log" autoFlush="true"
				layout="${date:format=HH\:mm\:ss.fff}| |${uppercase:${level}}| |ProcessId=${processid}| |ThreadId=${threadid}| |${logger}| |${message}| |${exception:format=ToString}"
				maxArchiveFiles="30" archiveEvery="Day" archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd"
				archiveFileName="${LogDir}/Archive/${LogFileName}_${machinename}_{#}.log" archiveAboveSize="314572800" concurrentWrites="true"
				keepFileOpen="true" openFileCacheTimeout="30" concurrentWriteAttempts="5" concurrentWriteAttemptDelay="10" />

		<target xsi:type="File" name="MSFile" fileName="${LogDir}/MS-${LogFileName}_${machinename}.log"
				layout="${date:format=HH\:mm\:ss.fff}| |${uppercase:${level}}| |${event-properties:item=EventId_Id}| |${logger}| |${message}| |${exception:format=ToString}"
				maxArchiveFiles="30" archiveEvery="Day" archiveNumbering="DateAndSequence" archiveDateFormat="yyyy-MM-dd"
				archiveFileName="${LogDir}/Archive/MS-${LogFileName}_${machinename}_{#}.log" archiveAboveSize="31457280" concurrentWrites="true"
				keepFileOpen="true" openFileCacheTimeout="30" concurrentWriteAttempts="5" concurrentWriteAttemptDelay="10" />

	</targets>

	<rules>
		<!-- add your logging rules here -->

		<!--
    Write all events with minimal level of Debug (So Debug, Info, Warn, Error and Fatal, but not Trace)  to "f"
    <logger name="*" minlevel="Debug" writeTo="f" />
    -->

		<!--<logger name="Rebus.Routing.TypeBased.TypeBasedRouter" minlevel="Trace" maxlevel="Info" final="true" />-->
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" minlevel="Trace" maxlevel="Info" writeTo="MSFile" final="true" />

		<logger name="*" minlevel="Debug" writeTo="ownFile" />

	</rules>
</nlog>
